@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/font/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('/font/EuclidCircular-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




body {
  font-family: 'Euclid Circular', sans-serif;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade {
  animation: fade 0.4s ease-out;
}

@keyframes popup {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.animate-popup {
  animation: popup 0.35s ease-out;
}


.navbar {
  font-family: sans-serif;
  box-shadow: 0 0 10px 1px rgba(56, 55, 53, 0.2);
  border: 2px solid rgb(37, 35, 34);
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  70% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-pulse-ring {
  animation: pulse-ring 1.1s infinite;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}